mixin blogPost(post)
  div.span6
    a(href="/post/#{post._id}")
      h3 #{post.subject}
    p #{post.body.substr(0, 250) + '...'}
    p#info 
      div.tags
        for tag in post.tags
          strong 
            a(href="#") #{tag} 
      div.post-time
        em #{moment(post.created).format('LLL')}
    p
      a(class="btn btn-small",href="/post/#{post._id}") Read more &raquo;  


div.hero-unit 
  h1= title
  p Welcome to my blog, comment and think with me, share your ideas...

!=partial('alert', flash)

div
  - for (var i = 0; i < postList.length; i++)
    div.row
      mixin blogPost(postList[i])
      - if (i + 1 < postList.length)
        mixin blogPost(postList[++i])